.grid{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 20px;
  grid-area: grid;
}

.header{
  grid-area: header;
}

.contenedor{
  display: grid;
  grid-template-areas: "header"
                        "grid";
}
.grid{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 20px;
  grid-area: grid;
}

.header{
  grid-area: header;
}

.contenedor{
  display: grid;
  grid-template-areas: "header"
                        "grid";
}
